
{% block content %}
<style>
.loginform{
    text-align: center;
    margin: auto; 
}
.input{
	margin: 10px; 
}
</style>
<form class="loginform" method="post">
<h2>Login</h2> 
{% csrf_token %}
	<div class="input"><input type="text" name="email" placeholder="Email" required="required"/></div>
	<div class="input"><input type="text" name="password" placeholder="Password" required="required"/></div>
	<div class="input"><button type="submit">Login</button></div>
	<div class="input"><a href="/signup/">Sign up</a> | <a href="/signup/">Login via Google</a></div>
</form>
{% endblock %} 